<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBpj32B5saFxixMD15VhpgIrNvAnbVnU4E</string>
	<key>GCM_SENDER_ID</key>
	<string>644840803218</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.budgetTracker</string>
	<key>PROJECT_ID</key>
	<string>budget-tracker-3d922</string>
	<key>STORAGE_BUCKET</key>
	<string>budget-tracker-3d922.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:644840803218:ios:49d483d2fe165df4180f4b</string>
</dict>
</plist>